workflows/Logicapp2024-11-29T06:25:33.4688269Z.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Condition": {
        "actions": {
          "Send_an_email": {
            "inputs": {
              "body": {
                "Content": "The condition was met in the incoming request.",
                "Subject": "Condition Met Notification",
                "To": "<your_email@domain.com>"
              },
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['office365']['connectionId']"
                }
              },
              "method": "post",
              "path": "/v2/Mail"
            },
            "runAfter": {},
            "type": "ApiConnection"
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@body('HTTP')['condition_field']",
                "expected_value"
              ]
            }
          ]
        },
        "runAfter": {
          "HTTP": ["Succeeded"]
        },
        "type": "If"
      },
      "HTTP": {
        "inputs": {
          "method": "POST",
          "schema": {
            "properties": {
              "condition_field": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "uri": "https://logic-apps-example-url"
        },
        "metadata": {
          "operationMetadataId": "HTTPRequestTrigger"
        },
        "runAfter": {},
        "runtimeConfiguration": {
          "concurrency": {
            "scope": "action"
          }
        },
        "type": "Request"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "manual": {
        "inputs": {
          "method": "POST",
          "schema": {
            "properties": {
              "condition_field": {
                "type": "string"
              }
            },
            "required": ["condition_field"],
            "type": "object"
          }
        },
        "kind": "Http",
        "type": "Request"
      }
    }
  },
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    }
  }
}